# Compilação e Binários
build/
bin/
*.o
*.so
*.dll
*.exe

# Ambientes Virtuais e Dependências
__pycache__/
venv/
.venv/
node_modules/
env/
*-env/

# Dados e Logs
data/input/*
data/output/*
!data/**/.gitkeep
*.log
*.tmp

# IDEs e Sistema
.vscode/
.idea/
.DS_Stor

external/MonoAlg3D_C/local_meshes
external/MonoAlg3D_C/meshes
external/MonoAlg3D_C/outputs
external/MonoAlg3D_C/save
external/MonoAlg3D_C/tests_bin

*.obj
*.stl
*.ply
*.fbx
*.gltfe
